<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>jspd7BTVN</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>Indexpubliccontroler</servlet-name>
    <servlet-class>controler.Indexpubliccontroler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Indexpubliccontroler</servlet-name>
    <url-pattern>/trang-chu</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>ControllerAdminLogin</servlet-name>
  	<servlet-class>controler.ControllerAdminLogin</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ControllerAdminLogin</servlet-name>
  	<url-pattern>/admin/login</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>ControllerAdminUserProfile</servlet-name>
  	<servlet-class>controler.ControllerAdminUserProfile</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ControllerAdminUserProfile</servlet-name>
  	<url-pattern>/admin/user_profile</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>ControllerAdminLogout</servlet-name>
  	<servlet-class>controler.ControllerAdminLogout</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ControllerAdminLogout</servlet-name>
  	<url-pattern>/admin/logout</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>ControllerAdminUserIndexProject</servlet-name>
  	<servlet-class>controler.ControllerAdminUserIndexProject</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ControllerAdminUserIndexProject</servlet-name>
  	<url-pattern>/admin/user_qlbaidang</url-pattern>
  </servlet-mapping>
    <servlet>
  	<servlet-name>ControllerAdminUserDelProject</servlet-name>
  	<servlet-class>controler.ControllerAdminUserDelProject</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ControllerAdminUserDelProject</servlet-name>
  	<url-pattern>/admin/user_delbaidang</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>ControllerAdminUserAddProject</servlet-name>
  	<servlet-class>controler.ControllerAdminUserAddProject</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ControllerAdminUserAddProject</servlet-name>
  	<url-pattern>/admin/user_addbaidang</url-pattern>
  </servlet-mapping>
   <servlet>
  	<servlet-name>ControllerAdminUserEditProject</servlet-name>
  	<servlet-class>controler.ControllerAdminUserEditProject</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ControllerAdminUserEditProject</servlet-name>
  	<url-pattern>/admin/user_editbaidang</url-pattern>
  </servlet-mapping>
     <servlet>
  	<servlet-name>ControllerAdminUserView</servlet-name>
  	<servlet-class>controler.ControllerAdminUserView</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ControllerAdminUserView</servlet-name>
  	<url-pattern>/admin/user_view</url-pattern>
  </servlet-mapping>
</web-app>