<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>jspd7BTVN</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>Indexpubliccontroler</servlet-name>
    <servlet-class>controler.Indexpubliccontroler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Indexpubliccontroler</servlet-name>
    <url-pattern>/trang-chu</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>ControllerAdminLogin</servlet-name>
  	<servlet-class>controler.ControllerAdminLogin</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ControllerAdminLogin</servlet-name>
  	<url-pattern>/admin/login</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>ControllerAdminUserProfile</servlet-name>
  	<servlet-class>controler.ControllerAdminUserProfile</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ControllerAdminUserProfile</servlet-name>
  	<url-pattern>/admin/user_profile</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>ControllerAdminLogout</servlet-name>
  	<servlet-class>controler.ControllerAdminLogout</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ControllerAdminLogout</servlet-name>
  	<url-pattern>/admin/logout</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>ControllerAdminUserIndexProject</servlet-name>
  	<servlet-class>controler.ControllerAdminUserIndexProject</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ControllerAdminUserIndexProject</servlet-name>
  	<url-pattern>/admin/user_qlbaidang</url-pattern>
  </servlet-mapping>
    <servlet>
  	<servlet-name>ControllerAdminUserDelProject</servlet-name>
  	<servlet-class>controler.ControllerAdminUserDelProject</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ControllerAdminUserDelProject</servlet-name>
  	<url-pattern>/admin/user_delbaidang</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>ControllerAdminUserAddProject</servlet-name>
  	<servlet-class>controler.ControllerAdminUserAddProject</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ControllerAdminUserAddProject</servlet-name>
  	<url-pattern>/admin/user_addbaidang</url-pattern>
  </servlet-mapping>
   <servlet>
  	<servlet-name>ControllerAdminUserEditProject</servlet-name>
  	<servlet-class>controler.ControllerAdminUserEditProject</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ControllerAdminUserEditProject</servlet-name>
  	<url-pattern>/admin/user_editbaidang</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
  	<servlet-name>ControllerAdminProject</servlet-name>
  	<servlet-class>controler.ControllerAdminProject</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ControllerAdminProject</servlet-name>
  	<url-pattern>/admin/admin_qlbaidang</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>ControllerAdminShowEditProject</servlet-name>
  	<servlet-class>controler.ControllerAdminShowEditProject</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ControllerAdminShowEditProject</servlet-name>
  	<url-pattern>/admin/show_edit_project</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>ControllerAdminEditProject</servlet-name>
  	<servlet-class>controler.ControllerAdminEditProject</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ControllerAdminEditProject</servlet-name>
  	<url-pattern>/admin/edit_project</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>ControllerAdminDelProject</servlet-name>
  	<servlet-class>controler.ControllerAdminDelProject</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ControllerAdminDelProject</servlet-name>
  	<url-pattern>/admin/del_project</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>ControllerAdminShowAddProject</servlet-name>
  	<servlet-class>controler.ControllerAdminShowAddProject</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ControllerAdminShowAddProject</servlet-name>
  	<url-pattern>/admin/show_add_project</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>ControllerAdminAddProject</servlet-name>
  	<servlet-class>controler.ControllerAdminAddProject</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ControllerAdminAddProject</servlet-name>
  	<url-pattern>/admin/add_project</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>IndexAdminCatController</servlet-name>
  	<servlet-class>controler.IndexAdminCatController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>IndexAdminCatController</servlet-name>
  	<url-pattern>/admin/category</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>ShowAddCatAdminController</servlet-name>
  	<servlet-class>controler.ShowAddCatAdminController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ShowAddCatAdminController</servlet-name>
  	<url-pattern>/admin/show_add_cat</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>AddCatAdminController</servlet-name>
  	<servlet-class>controler.AddCatAdminController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>AddCatAdminController</servlet-name>
  	<url-pattern>/admin/add_cat</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>ShowEditCatAdminController</servlet-name>
  	<servlet-class>controler.ShowEditCatAdminController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ShowEditCatAdminController</servlet-name>
  	<url-pattern>/admin/show_edit_cat</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>EditCatAdminController</servlet-name>
  	<servlet-class>controler.EditCatAdminController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>EditCatAdminController</servlet-name>
  	<url-pattern>/admin/edit_cat</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>DelCatAdminController</servlet-name>
  	<servlet-class>controler.DelCatAdminController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>DelCatAdminController</servlet-name>
  	<url-pattern>/admin/del_cat</url-pattern>
  </servlet-mapping>
   <servlet>
  	<servlet-name>IndexAdminUserController</servlet-name>
  	<servlet-class>controler.IndexAdminUserController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>IndexAdminUserController</servlet-name>
  	<url-pattern>/admin/user</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>ShowEditUserAdminController</servlet-name>
  	<servlet-class>controler.ShowEditUserAdminController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ShowEditUserAdminController</servlet-name>
  	<url-pattern>/admin/show_edit_user</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>EditUserAdminController</servlet-name>
  	<servlet-class>controler.EditUserAdminController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>EditUserAdminController</servlet-name>
  	<url-pattern>/admin/edit_user</url-pattern>
  </servlet-mapping>
   <servlet>
  	<servlet-name>EditPasswordUserAdminController</servlet-name>
  	<servlet-class>controler.EditPasswordUserAdminController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>EditPasswordUserAdminController</servlet-name>
  	<url-pattern>/admin/edit_pass_user</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>DelUserAdminController</servlet-name>
  	<servlet-class>controler.DelUserAdminController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>DelUserAdminController</servlet-name>
  	<url-pattern>/admin/del_user</url-pattern>
  </servlet-mapping>
</web-app>
